mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #4f46e5;
    padding: 0 20%;
}

.left-buttons {
    display: flex;
    align-items: center;
}

.middle-buttons {
    display: flex;
    align-items: center;
}

.middle-buttons button:not(:last-child) {
    margin-right: 10px;
}

.login-register-container button:not(:first-child) {
    margin-left: 10px;
}

.spacer {
    flex: 1;
}
