<nav>
    <ul>
        <li><button routerLink="/">Home</button></li>
        <ng-container *ngIf="!loggedIn; else loggedInLinks">
            <li><button routerLink="/register">Register</button></li>
        </ng-container>

        <ng-template #loggedInLinks>
            <li><button routerLink="/your-movies">Your Movies</button></li>
            <li><button routerLink="/your-shows">Your Shows</button></li>
            <li><button routerLink="/friends">Friends</button></li>
            <li><button (click)="logout()">Logout</button></li>
        </ng-template>
    </ul>
</nav>
