<div class="suggestions-container">
    <h2>Suggested movies:</h2>
    <ul class="list" *ngIf="suggestedMovies && suggestedMovies.length > 0">
        <li *ngFor="let suggestedMovie of suggestedMovies" class="friend-item">
            {{ suggestedMovie.movieId.title }}
            {{ suggestedMovie.suggestedFromUserId.name}}
        </li>
    </ul>
    <p *ngIf="suggestedMovies.length === 0" class="no-shows-message">You don't have any movie suggestions yet.</p>
    <h2>Suggested shows:</h2>

    <ul class="list" *ngIf="suggestedShows && suggestedShows.length > 0">
        <li *ngFor="let suggestedShow of suggestedShows" class="friend-item">
            {{ suggestedShow.showId.title }}
            {{ suggestedShow.suggestedFromUserId.name}}
        </li>
    </ul>
    <p *ngIf="suggestedShows.length === 0" class="no-movies-message">You don't have any show suggestions yet.</p>
</div>
