.movie-list-container {
    padding: 0 20%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.default-column {
    width: 41%;
}
.last-column {
    width: 13%;
}
