<div class="movie-list-container">
    <div class="title">
        <h2 class="mat-h2">Your movies:</h2>
        <div class="title-buttons">
        </div>
    </div>
    <ul class="movie-list" *ngIf="yourMovies && yourMovies.length > 0">
        <p>Movie title Movie watched on</p>
        <li *ngFor="let watchedMovie of yourMovies" class="movie-item">
            {{ watchedMovie.movie.title}}
            {{ watchedMovie.date }}

            <div class="actions">
                <button mat-raised-button color="secondary" class="show-suggestions-button" (click)="suggestToFriend(watchedMovie)">
                    Suggest to
                </button>
            </div>
        </li>
    </ul>
    <p *ngIf="yourMovies.length === 0" class="no-movies-message">You don't have any watched movies yet.</p>
</div>
