.table-container {
    max-width: 500px;
    margin: 0 auto;
}

.friend-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.friend-table th,
.friend-table td {
    padding: 12px;
    text-align: center;
}

.friend-table th {
    background-color: #4f46e5;
    color: white;
}

.friend-name {
    font-weight: bold;
}

.suggested-button {
    cursor: not-allowed;
    background-color: #4e46e5bc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

.suggest-button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

.suggest-button:hover {
    background-color: #0056b3;
}
