.tvshow-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tvshow-item {
    text-align: center;
    max-width: 200px;
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
}

.tvshow-item img {
    height: 90px;
}

.tvshow-title {
    margin-bottom: 5px;
    font-weight: bold;
}
