.container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.search-movie-container,
.search-tvshow-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-tvshow-container {
    margin-right: 20px;
}

.recent-tvshow-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tvshow-title {
    padding-top: 8%;
    text-align: center;
}

ul li {
    list-style: none;
}

.itemImage {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 5px;
    margin-right: 5px;
}

.recentlyWatchedImage {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 5px;
}

.recently-watched-card {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
}

.search-movie-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    margin-right: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 15px;
}

.searchResult {
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    margin-left: -5px;
    width: 98%;
    padding-bottom: 5px;
}
