<div class="container">
    <div class="search-movie-container">
        <input
            type="text"
            [formControl]="movieSearchForm"
            placeholder="Search movie!"
        />
        <div *ngIf="movieSearchLoading" class="text-center">
            <app-spinner />
        </div>

        <mat-nav-list
            *ngIf="
                movieSearchResults.length > 0 &&
                movieSearchForm.value.trim() !== ''
            "
            class="custom-width w-100"
        >
            <div *ngIf="!movieSearchLoading" class="searchResult">
                <mat-list-item
                    class="mt-2"
                    *ngFor="let movie of movieSearchResults.slice(0, 5)"
                    [routerLink]="['/movies', movie.id]"
                >
                    <img class="itemImage" src="{{ movie.imageUrl }}" />
                    {{ movie.title }} - {{ movie.releaseYear }}
                </mat-list-item>
            </div>
        </mat-nav-list>
    </div>

    <div class="search-tvshow-container">
        <input
            type="text"
            [formControl]="tvshowSearchForm"
            placeholder="Search Tv Show!"
        />
        <div *ngIf="showSearchLoading" class="text-center">
            <app-spinner />
        </div>
        <mat-nav-list
            *ngIf="
                tvshowSearchResults.length > 0 &&
                tvshowSearchForm.value.trim() !== ''
            "
            class="custom-width w-100"
        >
            <div *ngIf="!showSearchLoading" class="searchResult">
                <mat-list-item
                    class="mt-2"
                    *ngFor="let show of tvshowSearchResults.slice(0, 5)"
                    [routerLink]="['/tvshows', show.id]"
                >
                    <img class="itemImage" src="{{ show.imageUrl }}" />
                    {{ show.title }} - {{ show.releaseYear }}
                </mat-list-item>
            </div>
        </mat-nav-list>
    </div>

    <div class="recently-watched-card">
        <div class="text-center">
            <h2>Recently watched shows:</h2>
        </div>
        <div *ngIf="recentlyWatchedLoading" class="text-center">
            <app-spinner />
        </div>
        <mat-nav-list class="show-list w-100 custom-width">
            <div
                *ngFor="let show of watchedShows.slice(0, 5)"
                [routerLink]="['/tvshows', show.data.id]"
            >
                <div class="tvshow-item">
                    <p class="tvshow-title">
                        <img
                            class="recentlyWatchedImage"
                            src="{{ show.data.imageUrl }}"
                            alt=""
                        />
                        {{ show.data.title }}
                    </p>
                </div>
            </div>
        </mat-nav-list>
        <p
            *ngIf="watchedShows.length === 0 && !recentlyWatchedLoading"
            class="no-friends-message"
        >
            You haven't watched anything recently.
        </p>
    </div>
</div>
