.container {
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

.search-movie-container,
.search-tvshow-container {
    padding-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-tvshow-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-width {
    width: 80%;
}

.tvshow-title {
    padding-top: 3%;
    text-align: center;
}

ul li {
    list-style: none;
}
