<mat-card id="movies" class="movie-card mb-5 mt-5">
    <mat-card-title class="card-title">Popular Movies</mat-card-title>
    <mat-card-content>
        <ul class="movie-list">
            <div *ngIf="loading" class="text-center"><app-spinner /></div>
            <div *ngIf="!loading" class="movie-list">
                <li
                    *ngFor="let movie of popularMovies.slice(0, 5)"
                    class="movie-list-item"
                >
                    <div
                        class="movie-item"
                        [routerLink]="['/movies', movie.id]"
                    >
                        <img
                            [src]="movie.imageUrl"
                            alt="{{ movie.title }} Image"
                            class="movie-image"
                        />
                        <p class="movie-title">{{ movie.title }}</p>
                    </div>
                </li>
            </div>
        </ul>
    </mat-card-content>
</mat-card>
