<div class="container">
    <mat-card-content class="card">
        <h2 class="header">Welcome to TrackTV!</h2>
        <p class="description">Never lose track of your favorite movies and shows again. Sign up today to start tracking your watch history and stay up-to-date with all the entertainment you love.</p>
        <p class="join">Join our community of movie enthusiasts and start exploring the world of entertainment like never before.</p>
        <button mat-raised-button routerLink="/register">Sign up today to start tracking!</button>
    </mat-card-content>
</div>
