.friend-list-container {
    padding: 0 20%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}

.title-buttons {
    display: flex;
    gap: 10px;
    font-weight: 800 !important;
    color: white !important;
}

.friend-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.friend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
}

.no-friends-message {
    text-align: center;
    color: gray;
}

.title-buttons {
    display: flex;
    gap: 10px;
}

.title-buttons button {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.05em;
    font-weight: 500;
}

.title-buttons button:hover {
    background-color: #4e46e5ec;
}
